Repository dewsign/ajax-store: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, jsonlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

Include link to repository
  package.json
Due: jsonlint

publish all dist js files incase we want to compile ajax store and PusherAgent into separate files
  package.json
Due: jsonlint

Compile to Common Js to improve compatibility
  package-lock.json
  rollup.config.js
Due: eslint, jsonlint

1.0.1
  package-lock.json
  package.json
Due: jsonlint

1.0.2
  package-lock.json
  package.json
Due: jsonlint

Pusher needs to be assigned to the global window object for laravel echo to work correctly.
  package-lock.json
  package.json
  rollup.config.js
  src/PusherAgent.js
Due: eslint, jsonlint

1.0.3
  package-lock.json
  package.json
Due: jsonlint

Include related Laravel / PHP package in same repository
  .gitignore
  .lintstagedrc
  composer.json
  composer.lock
  laravel/Events/ModelUpdate.php
  laravel/Traits/BroadcastsPusherEvents.php
  phpcs.xml
Due: jsonlint

1.0.4
  package-lock.json
  package.json
Due: jsonlint

Define package namespace for newly refactored modelupdate events received from pusher/laravel
  src/PusherAgent.js
Due: eslint

1.0.5
  package-lock.json
  package.json
Due: jsonlint

Remove TODO comments
  src/AjaxStore.js
  src/PusherAgent.js
Due: eslint

Improve build setup
  .babelrc
  .eslintrc
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

Include update hook on model for futur eproofing
  laravel/Traits/BroadcastsPusherEvents.php
Due: none

The Mapper is a helper to easily include Vuex getter and setter maps for a specific AjaxStore module.
  src/AjaxStoreMapper.js
  src/index.js
Due: eslint

Ability to define additional relationships to be automatically populated when mounted
  src/AjaxStoreMapper.js
Due: eslint

Various improvements and documentation
  src/AjaxStore.js
Due: eslint

Translations WIP
  src/AjaxStore.js
  src/AjaxStoreMapper.js
Due: eslint

Pre-load all data required for the current module in all languages
  src/AjaxStore.js
  src/AjaxStoreMapper.js
Due: eslint

update saved model event with recently created
  laravel/Traits/BroadcastsPusherEvents.php
Due: none

update readme
  README.md
Due: markdownlint

Handle removing of translations through model trait
  laravel/Traits/BroadcastsPusherEvents.php
Due: none

Handle removal of translation to trait
  laravel/Traits/BroadcastsPusherEvents.php
Due: none

Return the default locale selected item to auto-fill new translations. Also improved docblocks
  src/AjaxStore.js
Due: eslint

Helper methods to handle local updates without requiring pusher
  src/AjaxStore.js
Due: eslint

Handles local deletion of items without pusher
  src/AjaxStoreMapper.js
Due: eslint

Improved docs
  src/AjaxStore.js
Due: eslint

When adding a new translation, even though it isn't actually available yet we want to always include the current locale
  src/AjaxStore.js
Due: eslint

Make ajax store modules translatable on demand. Off by default
  src/AjaxStore.js
  src/AjaxStoreMapper.js
Due: eslint

1.0.6
  package-lock.json
  package.json
Due: jsonlint
